
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Index</h1>

<a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin Sayfasına Git</a>

<a asp-area="Member">Member Sayfasına git</a>

